<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.mapper.PledgeMapper">
  <resultMap id="BaseResultMap" type="cn.bdqn.model.Pledge">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="valuation" jdbcType="DECIMAL" property="valuation" />
    <result column="transaction" jdbcType="DECIMAL" property="transaction" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="attn" jdbcType="INTEGER" property="attn" />
    <result column="company" jdbcType="INTEGER" property="company" />
    <result column="variety" jdbcType="INTEGER" property="variety" />
    <result column="statusName" property="statusName" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
    <result column="companyName" property="companyName" />
    <result column="varietyName" property="varietyName" />
    <result column="attnName" property="attnName" />
    <association property="devUser" javaType="cn.bdqn.model.DevUser">
      <id column="d_id" property="id"/>
      <result column="d_name" property="name"/>
      <result column="d_idCard" property="IDCard"/>
      <result column="d_phone" property="phone"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, valuation, transaction, createDate, name, typeId, status, attn, company, variety
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT p.*,s.name AS statusName,bu.name as attnName,e.organizationName AS companyName,pt.productTypeName AS varietyName,
    d.`id` AS d_id,d.`IDCard` AS d_idCard,d.`name` AS d_name FROM pledge p
    INNER JOIN pledgeStatus s ON s.id=p.status
    INNER JOIN extension e ON e.id=p.company
    INNER JOIN producttype pt ON pt.id=p.variety
    inner join backenduser bu on bu.id=p.attn
    INNER JOIN devuser d ON d.`id`=p.`duId`
    where p.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT p.*,s.name AS statusName,bu.name as attnName,e.organizationName AS companyName,pt.productTypeName AS varietyName,
    d.`id` AS d_id,d.`IDCard` AS d_idCard,d.`name` AS d_name FROM pledge p
    INNER JOIN pledgeStatus s ON s.id=p.status
    INNER JOIN extension e ON e.id=p.company
    INNER JOIN producttype pt ON pt.id=p.variety
    inner join backenduser bu on bu.id=p.attn
    INNER JOIN devuser d ON d.`id`=p.`duId`
    WHERE 1=1
    <if test="createDate!=null">
      AND DATE_FORMAT(v.createDate,'%Y-%m-%d') =#{createDate}
    </if>
    <if test="keyword!=null and keyword!=''">
      and d.name like concat('%',#{keyword},'%')
    </if>
    limit #{page},#{size}
  </select>
  <select id="count" resultType="Long">
    SELECT count(*) FROM pledge p
    INNER JOIN pledgeStatus s ON s.id=p.status
    INNER JOIN extension e ON e.id=p.company
    INNER JOIN producttype pt ON pt.id=p.variety
    inner join backenduser bu on bu.id=p.attn
    INNER JOIN devuser d ON d.`id`=p.`duId`
    WHERE 1=1
    <if test="createDate!=null">
      AND DATE_FORMAT(v.createDate,'%Y-%m-%d') =#{createDate}
    </if>
    <if test="keyword!=null and keyword!=''">
      and d.name like concat('%',#{keyword},'%')
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pledge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.bdqn.model.Pledge">
    insert into pledge (valuation, transaction,
      createDate, name, typeName,duId,
      status, attn, company, 
      variety)
    values (#{valuation,jdbcType=DECIMAL}, #{transaction,jdbcType=DECIMAL},
      #{createDate,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER},#{duId,jdbcType=INTEGER}, #{attn,jdbcType=INTEGER}, #{company,jdbcType=INTEGER},
      #{variety,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.bdqn.model.Pledge">
    insert into pledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="valuation != null">
        valuation,
      </if>
      <if test="transaction != null">
        transaction,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="typeName != null">
        typeName,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="attn != null">
        attn,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="variety != null">
        variety,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="valuation != null">
        #{valuation,jdbcType=DECIMAL},
      </if>
      <if test="transaction != null">
        #{transaction,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="attn != null">
        #{attn,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=INTEGER},
      </if>
      <if test="variety != null">
        #{variety,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.model.Pledge">
    update pledge
    <set>
      <if test="valuation != null">
        valuation = #{valuation,jdbcType=DECIMAL},
      </if>
      <if test="transaction != null">
        transaction = #{transaction,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        typeName = #{typeName,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="attn != null">
        attn = #{attn,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=INTEGER},
      </if>
      <if test="variety != null">
        variety = #{variety,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.model.Pledge">
    update pledge
    set valuation = #{valuation,jdbcType=DECIMAL},
      transaction = #{transaction,jdbcType=DECIMAL},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      typeName = #{typeName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      attn = #{attn,jdbcType=INTEGER},
      company = #{company,jdbcType=INTEGER},
      variety = #{variety,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>